@{
    ViewData["Title"] = "Confirm email notification";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        We have sent email confirmation to your registered email address.
        Please follow the email instruction for account activation.
    </p>
</div>